*{
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: rgb(173, 207, 207);
  padding: 1rem;
}

h1{
  text-align: center;
  padding-top: 1em;
  padding-bottom: 0.5em;
  font-weight: bold;
}

h2{
  text-align: center;
  font-size: medium;
  padding-bottom: 3em;
}

.form-check{
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(136, 136, 136);
  padding: .5em;
  padding-left: 2em;
  margin-bottom: 2em;
  width: 8em;
  background-color: rgb(223, 209, 209);
}

.form-check-label{
  color:black;
}

.form-check :hover{
    color: rgb(170, 129, 129);
}

.form-check :active{
    color: rgb(180, 179, 245);
}

.btn{
  background-color: rgb(221, 161, 221);
  border-radius: 25px;
  margin-top: 2em;
  width: 25%;
  outline: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

  min-width: 130px;
	position: relative;
	display: inline-block;

	text-align: center;
	text-transform: uppercase; 

	padding: 15px;

	font-size: medium;
	font-weight: 600;

	color: rgb(231, 216, 216);

	transition: 0.1s;
}

.btn:hover{
    background-color: rgb(155, 127, 155);
    box-shadow: 7px 7px darken(rgb(223, 209, 209), 20%), -7px -7px lighten(rgb(223, 209, 209), 20%);
    cursor: pointer;
}

.btn:active{
    background-color: rgb(155, 127, 155);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transform: translateY(4px);
}

.generate {
  margin-top: 2em;
  margin-left: 10em;
  margin-right: 10em;
  text-align: center;
  color: rgb(173, 207, 207);
}

.caption {
  margin-top: .5em;
  margin-left: 10em;
  margin-right: 10em;
  text-align: center;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(136, 136, 136);
  font-size: x-large;
  background-color: rgb(180, 179, 245);
}

footer{
  position:absolute;
  bottom:0;
  right: 1em;
}




